.checkoutproduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutproduct_info {
    padding-left: 20px
}

.checkoutproduct_info > button {
   background: #feBd69;
    border-radius: 3px;
    border: 1px solid;
    height: 30px;
    margin-top: 10px;
    border-color: #fdb454 #ffb049 #fbaa3f;
    color: #333333;
}

.checkoutproduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutproduct_rating {
    display: flex;
  }

.checkoutproduct_title {
    font-size: 17px;
    font-weight: 800;
}